extends layout

block content
      each meme in memes
        -var url = meme.url
        -var id = meme.id
        .meme
        img(
        src=url
        data-id=meme.id
        )
        p=meme.message
        script(id='messageTemplate' type = 'text/x-handlebars-template')
          p
            {{comment}}
        div(id='newMessage'+id)

        include message_form.jade